main.entry {
	max-width: calc(var(--main-max-width) * 3 / 2);
}

main.entry .e-content > p,
main.entry .e-content > ul,
main.entry .e-content > ol,
main.entry .e-content > figure,
main.entry .e-content > img,
main.entry .e-content > video,
main.entry .e-content > blockquote,
main.entry .e-content > pre,
main.entry .e-content > iframe {
	max-width: var(--main-max-width);
}

main.entry figure {
	display: flex;
	flex-direction: column;
}

main.entry figure > img,
main.entry figure > video,
main.entry figure > picture {
	width: 100%;
}

main.entry .footnote-item:target p {
	outline: 1px dotted;
}

main.entry h1,
main.entry h2,
main.entry h3,
main.entry h4,
main.entry h5,
main.entry h6 {
	position: relative;
}

main.entry .header-anchor {
	position: absolute;
	left: 0;
	transform: translateX(-100%);
	padding-right: var(--s-2);
	opacity: 0.5;
}

@media (min-width: 1350px) {
	main.entry .toc {
		--entry-float-margin: 20px;

		width: calc(33% - var(--entry-float-margin));
		min-width: 100px;

		margin: 0;
		margin-left: var(--entry-float-margin);

		float: right;
		clear: right;
	}
}

@media (min-width: 600px) {
	main.entry .float {
		--entry-float-margin: 20px;

		width: calc(33% - var(--entry-float-margin));
		min-width: 100px;

		margin: 0;
		margin-left: var(--entry-float-margin);

		float: right;
		clear: right;
	}

	main.entry .float.left {
		margin-right: var(--entry-float-margin);
		margin-left: 0;

		float: left;
		clear: left;
	}
}
