main.home {
	--heading-margin: var(--s1);

	max-width: 90ch;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: flex-start;
	grid-column-gap: var(--s2);
}

main.home h1,
main.home section {
	grid-column: 1 / -1;
}

main.home section {
	grid-row: span 6;
	padding-bottom: 1em;
}

main.home section > * {
	margin: 0;
}

main.home section > * + * {
	margin-top: 1em !important;
}

main.home section.main p:first-of-type {
	font-size: var(--s1);
}

main.home section.half-column {
	grid-column: span 1;
}

main.home section.half-row {
	grid-row: span 3;
}

main.home section.row-3 {
	grid-row: span 2;
}

@media (max-width: 1000px) {
	main.home {
		grid-template-columns: 1fr;
	}
}

main.home .post-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

main.home .post-list.columns {
	column-width: 14ch;
}

main.home .post-list li + li {
	margin-top: var(--s0);
}

main.home .post-list li h3 {
	font-size: 1em;
	line-height: var(--ratio);
	margin: 0.3em 0;
}

main.home p.excerpt {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

main > section:first-child > h2 {
	margin-top: 0;
}

main.home h2 {
	border-bottom: 2px solid currentColor;
	padding-bottom: var(--s-3);
	margin-top: var(--heading-margin);
}

main.home ul.blogroll li :any-link {
	color: var(--themeColor);
}
