main.photo.collection > ol {
	--photo-grid-size: var(--s6);
	display: flex;
	flex-wrap: wrap;
	gap: var(--s1);
}

main.photo.collection > ol > li,
main.photo.collection > ol > li > article {
	display: contents;
}

main.photo.collection > ol > li > article > a {
	width: var(--photo-grid-size);
	height: var(--photo-grid-size);
	display: flex;
	flex-direction: column;
}

main.photo.collection > ol > li > article img {
	flex: 1 1 auto;
}

main.photo.collection > ol > li > article header {
	flex: 0 0 auto;
}

main.photo.collection > ol > li > article img {
	object-fit: cover;
	object-position: center;
}
