main.shows {
	max-width: unset;
}

main.shows ul {
	--poster-width: 200px;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--poster-width));
	gap: var(--s0) var(--s-1);
}

main.shows ul li {
	display: grid;
	gap: var(--s-2);
}

main.shows ul li,
main.shows ul li * {
	text-align: left;
}

main.shows ul img {
	display: block;
	width: 100%;
}

main.shows ul li p {
	margin: 0;
}

@supports (grid-template-columns: subgrid) {
	main.shows ul li {
		grid-row: span 2;
		grid-template-rows: subgrid;
	}

	main.shows ul.watched li {
		grid-row: span 3;
	}
}
