.main-sidebar {
	max-width: var(--fallback-sidebar-width);

	width: var(--fallback-sidebar-width);
	width: max-content;

	text-align: right;

	--stack-margin: var(--s0);
}

.main-sidebar hr {
	border-color: var(--themeColor);
}

.main-sidebar nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main-sidebar nav > ul li + li {
	margin-top: calc(var(--stack-margin) / 4);
}

.main-sidebar nav a {
	font-weight: normal;
}

.main-sidebar nav a.current {
	font-variation-settings: "wght" 500;
}

.theme-selector-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.theme-selector-buttons {
	all: unset;

	display: flex;
	flex-direction: column;

	display: grid;
	grid-auto-flow: row;
	gap: var(--s-3);
}

.main-sidebar :any-link {
	color: var(--themeColor);
	border-bottom: none;
}

.self_link {
	font-variation-settings: "wght" 600; /* fgpt */
	text-decoration: none;
	line-height: 1.1;
}

.self_link:any-link {
	font-variation-settings: "wght" 350; /* fgpt */
	text-decoration: none;
	line-height: 1.1;
}

.self_link .p-name {
	font-size: 2em;
}

body[data-theme="auto"] [data-theme="auto"],
body[data-theme="dark"] [data-theme="dark"],
body[data-theme="light"] [data-theme="light"] {
	color: var(--backgroundColor);
	background-color: var(--themeColor);
}

.main-sidebar details ul {
	text-align: left;
}

.main-sidebar .me-elsewhere address {
	padding: var(--s-2);
	display: grid;
	grid-template-columns: repeat(auto-fit, 1.5em);
	grid-gap: var(--s-1);
	justify-content: flex-end;
}

.main-sidebar form label {
	display: block;
}

.main-sidebar form input {
	width: 100%;
}

@media (min-width: 800px) {
	.main-sidebar summary {
		direction: rtl;
	}
}

@media (max-width: 800px) {
	.main-sidebar {
		width: unset;
		text-align: unset;
	}

	.theme-selector-buttons {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;

		grid-auto-flow: column;
	}

	.main-sidebar > nav > ul {
		--list-h-gap: var(--s-2);
		--list-v-gap: var(--s-3);

		display: flex;
		flex-wrap: wrap;
		margin: calc(-1 * var(--list-v-gap)) calc(-1 * var(--list-h-gap));
	}

	.main-sidebar > nav > ul > li {
		margin: var(--list-v-gap) var(--list-h-gap);
	}
}

.p-note :first-child {
	margin-top: 0;
}

.p-note :last-child {
	margin-bottom: 0;
}

.p-note dl dt {
	font-variation-settings: "wght" 500; /* fgpt */
}

.p-note dl dt::after {
	content: " ";
}

.p-note dl dt,
.p-note dl dd {
	display: inline;
	margin: 0;
}

[role="search"] input {
	border: 1px solid var(--themeColor);
	background-color: unset;
	color: var(--textColor);
	padding: 0.4em;
	border-radius: 0.2em;
}
