/* modular scale */

:root {
	--ratio: 1.61803398875;
	--s-10: calc(var(--s-9) / var(--ratio));
	--s-9: calc(var(--s-8) / var(--ratio));
	--s-8: calc(var(--s-7) / var(--ratio));
	--s-7: calc(var(--s-6) / var(--ratio));
	--s-6: calc(var(--s-5) / var(--ratio));
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
	--s6: calc(var(--s5) * var(--ratio));
	--s7: calc(var(--s6) * var(--ratio));
	--s8: calc(var(--s7) * var(--ratio));
	--s9: calc(var(--s8) * var(--ratio));
	--s10: calc(var(--s9) * var(--ratio));
}

/* colors */

:root {
	/* dark */
	--dark-text-color: hsl(0, 0%, 93%);
	--dark-background-color: #1b1c30;
	--dark-theme-color: hsl(341.9, 86.1%, 69%);
	--dark-muted-theme-color: hsla(341.9, 86.1%, 69%, 0.6);
	/* light */
	--light-text-color: hsl(0, 0%, 0%);
	--light-background-color: #f9f9f9;
	--light-theme-color: hsl(341.9, 86.1%, 45%);
	--light-muted-theme-color: hsla(341.9, 86.1%, 45%, 0.6);
}

/* sidebar */

.sidebar {
	overflow: hidden;
}

.sidebar > * {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--sidebar-gap));
}

@supports not (gap: 1rem) {
	.sidebar > * {
		margin: calc(-1 * var(--sidebar-gap) / 2);
	}

	.sidebar > * > * {
		margin: calc(var(--sidebar-gap) / 2);
	}
}

.sidebar > * > * {
	flex-grow: 1;
}

.sidebar > * > :last-child {
	flex-basis: 0;
	flex-grow: 999;
	min-width: calc(50% - var(--sidebar-gap) * 2);
}

/* stack */

.stack > * + *,
.sub-stack > * + * {
	margin-top: var(--s0);
	margin-top: var(--stack-margin);
}

.sub-stack > * + * {
	--stack-margin: inherit;
}

.stack > .no-stack-margin,
.stack2 > .no-stack-margin,
.sub-stack > .no-stack-margin {
	margin-top: 0;
}

/* hack to avoid nested stacks from interfering with each other */
.stack2 > * + * {
	margin-top: var(--s0);
	margin-top: var(--stack-margin-2);
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.inline-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: justify;

	--data-separator: ", ";
	--data-separator-last: " & ";
}

.inline-list.semicolon {
	--data-separator: "; ";
}

.inline-list li {
	display: inline;
}

.inline-list li:last-child::after {
	content: ".";
}

.inline-list li + li::before {
	content: var(--data-separator);
}

.inline-list li + li:last-child::before {
	content: var(--data-separator-last);
}

.inline-list li + li[data-separator]::before {
	content: attr(data-separator);
}
