{% assign href = include.href %}
{% assign text = include.text %}
{% assign exact = include.exact %}
{% assign directory = include.directory %}

{% assign exactCurrent = href == page.url %}
{% assign nonExactCurrent = page.url contains href %}
<a
    {% if exact != true and nonExactCurrent or exactCurrent %}class="current"{% endif %}
    {% if exactCurrent %}aria-current="page"{% endif %}
    {% if directory and nonExactCurrent and exactCurrent != true %}rel="directory"{% endif %}
    href="{{ href }}"
>
    {{ text }}
</a>