{% set min_page = pagination.pageNumber - 5 if pagination.pageNumber >= 5 else 0 %}
{% set max_page = min_page + 5 if (pagination.hrefs | length) >= min_page + 5 else 
        (pagination.hrefs | length) %}

{% macro pagination_link(href, index0, pagination, rel = '', text = index0 + 1) %}
    <li>
        <a
            {% if index0 == pagination.pageNumber %}
            class="current"
            aria-current="page"
            {% endif %}
            href="{{ href }}"
        >
            {{ text }}
        </a>
    </li>
{% endmacro %}

<nav aria-label="Páginas de {{collectionName}}">
    <ol>
        {% if min_page > 0 %}
            {{ pagination_link(pagination.hrefs[0], 0, pagination, text='<<') }}
        {% endif %}
        {% for i in range(min_page, max_page) %}
            {{ pagination_link(pagination.hrefs[i], i, pagination) }}
        {% endfor %}
        {% if max_page < (pagination.hrefs | length) %}
            {{ pagination_link(pagination.hrefs | last, pagination.hrefs | length - 1, pagination, text='>>') }}
        {% endif %}
</ol>
</nav>