{% macro nav_link(href, text, exact = false) %}
    {% set exactCurrent = href == page.url %}
    {% set nonExactCurrent = page
        .url
        .startsWith(href) %}
    <a
        {% if exactCurrent or (not exact and nonExactCurrent) %}
        class="current"
        {% endif %}
        {% if exactCurrent %}
        aria-current="page"
        {% endif %}
        href="{{ href }}"
    >
        {{ text }}
    </a>
{% endmacro %}

<header
    itemscope=""
    itemtype="https://schema.org/Person https://schema.org/Organization"
    id="mdata-author"
    itemid="mdata-author"
    itemprop="author publisher"
    class="main-sidebar stack"
>
    <link rel="stylesheet" href="/css/sidebar.css"/>

    <a class="self_link" href="/" itemref="mdata-blog mdata-author" itemprop="url identifier">
        <span itemprop="name">Victor Magalhães</span>
    </a>

    <address itemprop="email">
        <a class="u-email" href="mailto:vhfmag@protonmail.com">vhfmag@protonmail.com</a>
    </address>

    <nav aria-label="Principal">
        <ul>
            <li>
                {{ nav_link("/", "home", true) }}
            </li>
            <li>
                {{ nav_link("/posts", "posts") }}
            </li>
            <li>
                {{ nav_link("/notes", "notas") }}
            </li>
            <li>
                {{ nav_link("/blogroll", "blogroll") }}
            </li>
            <li>
                {{ nav_link("/resume", "currículo") }}
            </li>
        </ul>
    </nav>

    <!-- links de mídias sociais -->

    <div hidden class="theme-selector-wrapper" id="theme-selector-wrapper">
        Tema:
        <div class="theme-selector-buttons">
            <button type="button" class="theme-button" data-theme="auto" hidden>Automático</button>
            <button type="button" class="theme-button" data-theme="dark">Escuro</button>
            <button type="button" class="theme-button" data-theme="light">Claro</button>
        </div>
        <script src="/js/theme.js" defer></script>
    </div>
</header>