<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    {{ partial "header.html" . }}
</head>

<body>
    <div id="layout">
        <div class="sidebar">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="content">
            <div class="singlepage {{ .Type }}" id="{{ .Slug }}">
                <main class="resume">
                    <h1>Currículo</h1>
                    <h2>Competências</h2>

                    <h3>Como posso ser útil</h3>
                    <div class="competences">
                        {{ range .Site.Data.resume.competences }}
                        <dl>
                            <dt>{{ .name }}</dt>
                            <dd>{{ .description }}</dd>
                        </dl>
                        {{ end }}
                    </div>

                    <h3>Habilidades e interesses</h3>

                    <div class="skills">
                        <div class="skill skill-2">
                            <h4>Habilidades técnicas</h4>
                            {{ partial "skill" .Site.Data.resume.skills.technical }}
                        </div>

                        <div class="skill skill-1">
                            <h4>Soft skills</h4>
                            {{ partial "skill" .Site.Data.resume.skills.soft }}
                        </div>

                        <div class="skill skill-3">
                            <h4>Interesses</h4>
                            {{ partial "skill" .Site.Data.resume.interests.subjects }}
                        </div>
                    </div>

                    {{ partial "experience.html" .Site.Data.resume.experiences.work }}
                </main>

                {{ partial "footer.html" . }}
            </div>
        </div>
    </div>
</body>

</html>
