<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    {{ partial "header.html" . }}
</head>

{{ $list := shuffle .Site.Data.todo }}
{{ $todo := where $list "done" "!=" true }}
{{ $done := where $list "done" "==" true }}

<body>
    <div id="layout">
        <div class="sidebar">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="content">
            <div class="singlepage {{ .Type }}" id="{{ .Slug }}">
                <main class="todo">
                    {{ partial "todo" (dict "title" "algum dia" "list" $todo) }}
                    {{ partial "todo" (dict "title" "feito" "list" $done) }}
                </main>

                {{ partial "footer.html" . }}
            </div>
        </div>
    </div>
</body>

</html>
