---
title: Notas
layout: default.njk
tags: []
collection: photos
mdEntryType: blogPost
mainClass: collection photo
htmlClass: h-feed
sitemapChangefreq: daily
sitemapPriority: 1
pagination:
    data: collections.photos
    alias: entries
    size: 10
---

{% extends 'templates/collection.njk' %}

{% block css %}
	<link rel="stylesheet" href="/css/photo-collection.css"/>
{% endblock %}

{% block entry %}

	<a class="u-url" href="{{ entry.url }}">
		{% set photo = entry
			.data
			.photos[0] %}
		<img src="{{ photo.url }}" alt="{{ photo.alt }}"/>
		<header>

			{% if entry.data.date %}
				<time
                        itemprop="datePublished dateModified pubdate"
                        class="dt-published"
                        datetime="{{ entry.data.date | formatDateISO }}"
                    >
					{{ entry.data.date | formatDateTime }}
				</time>
			{% endif %}
		</header>
	</a>

{% endblock %}

<!-- this needs to be here for pagination to work -->