// const ListWrapper = styled.div`
.listWrapper {
	margin: 1rem 0;
}

// const BlogNav = styled.nav`
.blogNav {
	--nav-h-gap: 0.25em;
	--nav-v-gap: 0em;

	margin: 0.5rem 0;

	h2 {
		display: inline-block;
		margin-bottom: 0.5em;
		margin-right: 0.5em;

		&::after {
			content: ":";
		}
	}

	ul {
		all: unset;
		display: inline-flex;
		flex-wrap: wrap;
		margin: calc(-1 * var(--nav-v-gap)) calc(-1 * var(--nav-h-gap));

		li {
			all: unset;
			margin: var(--nav-v-gap) var(--nav-h-gap);

			a:global(.current) {
				font-weight: bold;
			}
		}
	}
}
