.category {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.entrySummary {
	display: grid;
	grid-gap: 8pt;
	grid-template-columns: min-content auto;

	p,
	h2,
	h3 {
		margin: 0;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.15rem;
	}

	& + & {
		margin-top: 16pt;
	}
}
