.toc {
	@media (min-width: 1000px) {
		margin: 0 1em 1em;
		float: right;
		width: 400px;
		max-width: 30vw;
		padding: 1em;
	}

	@media (min-width: 1500px) {
		position: sticky;
		top: 1em;
	}

	background-color: var(--backgroundColor);
	margin-bottom: 1.6875em;

	ol {
		counter-reset: item;
		list-style-type: none;

		ol {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	details {
		summary {
			margin: 0;

			> * {
				display: inline;
			}
		}
	}

	li {
		position: relative;
		margin-bottom: 0;

		p {
			margin: 0;
		}
	}

	li:before {
		left: 0;
		transform: translateX(calc(-100% - 1ch));
		position: absolute;
		content: counters(item, ".") ". ";
		counter-increment: item;
	}
}
