---
title: Curtidas
layout: default
tags: []
collection: notes
mdEntryType: blogPost
mainClass: collection likes
htmlClass: h-feed
sitemapChangefreq: daily
sitemapPriority: 1
pagination:
    data: collections.likes
    alias: entries
    size: 5
---

{% extends 'templates/collection.njk' %}
{% block css %}
    <link rel="stylesheet" href="/css/collection-notes.css"/>
{% endblock %}

{% block entry %}

    <section>
        {# Por algum motivo isso não funciona. Por quê? #}
        {# <a href="{{entry.data.likeOf}}" class="u-like-of">{% titleFromUrl entry.data.likeOf %}</a> #}
        <a href="{{entry.data.likeOf}}" class="u-like-of">{{ entry.data.likeOf }}</a> foi curtido
    </section>
    <header>
        — <a class="u-url" href="{{ entry.url }}">
            {% if entry.data.date %}
                <time
                    itemprop="datePublished dateModified pubdate"
                    class="dt-published"
                    datetime="{{ entry.data.date | formatDateISO }}"
                >
                    {{ entry.data.date | formatDateTime }}
                </time>
            {% endif %}
        </a>
    </header>

{% endblock %}

<!-- this needs to be here for pagination to work -->