{% from 'macros/collection.njk' import metadata %}

{{ content | safe }}

<link rel="stylesheet" href="/css/collection.css"/>
{% block css %}{% endblock %}

<h1 class="p-name">
    <a class="u-url" href="{{ page.url }}">{{ collectionName }}</a>
</h1>

<ol aria-label="{{ collectionName }}">
    {%- for entry in entries -%}
        <li>
            <article
                itemprop="{{ mdEntryType }}"
                itemscope=""
                itemref="mdata-author"
                itemtype="https://schema.org/BlogPosting"
                class="h-entry p-entry"
            >
                {% block entry %}
                    <header>
                        <h2 itemprop="headline title" class="post-title p-name">
                            <a class="u-url u-uid" href="{{entry.url}}">{{ entry.data.title }}</a>
                        </h2>
                        {{ metadata(entry) }}
                    </header>
                {% endblock %}
            </article>
        </li>
    {%- endfor -%}
</ol>

<nav class="pagination" aria-label="Paginação de {{collectionName}}">
    {% if pagination.pageNumber != 0 %}
        <a class="prev" rel="prev" href="{{ pagination.previousPageHref }}">
            ‹ Itens anteriores
        </a>
    {% endif %}
    {% if pagination.pageNumber != pagination.hrefs.length - 1 %}
        <a class="next" rel="next" href="{{ pagination.nextPageHref }}">
            Próximos itens ›
        </a>
    {% endif %}
</nav>