{% from 'macros/authors.njk' import listAuthors %}

{% macro metadata(entry) %}
    <div class="metadata">
        <span><span class="p-category">{{ entry.data.collection }}</span>
            <span class="visually-hidden"> por {{ listAuthors(entry.data.authors if entry.data.authors else [me]) }}</span></span>
        {% if entry.data.date %}
            <time
    itemprop="datePublished dateModified pubdate"
    class="dt-published"
    datetime="{{ entry.data.date | formatDateISO }}"
>
                {{ entry.data.date | formatDate }}
            </time>
        {% endif %}
        <span><span itemprop="wordCount">{{ entry.templateContent | wordcount }}</span> palavras, <abbr aria-label="aproximadamente" title="aproximadamente">~</abbr>
            <span itemprop="timeRequired">{{ entry | readingTime(raw=true) }} minutos</span> de leitura</span>
        {% if entry.data.draft %}
            <span><span class="metadata--draft">Rascunho</span></span>
        {% endif %}
    </div>
{% endmacro %}