{% macro authorPhotos(wms, pageUrl, prop, singularName, pluralName = singularName, authorUrl = false, open = false) %}
    {% if wms[pageUrl][prop] | length > 0 %}
        <details {% if open %}open{% endif %} class="author-photos {{ prop }}">
            {% set entries = wms[pageUrl][prop] %}
            <summary>
                {{ entries | length }}
                {% if entries | length != 1 %}{{ pluralName }}
                {% else %}{{ singularName }}
                {% endif %}
            </summary>

            <ul>
                {% for entry in entries %}
                    <li title="{{ entry.author.name }}">
                        <article>
                            <a href="{% if authorUrl %}{{ entry.author.url }}{% else %}{{ entry.url }}{% endif %}">
                                <img src="{{ entry.author.photo }}" alt="{{ entry.author.name }}"/>
                            </a>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endif %}
{% endmacro %}

{% macro comment(wms, pageUrl, prop, singularName, pluralName = singularName, open = false) %}
    {% if wms[pageUrl][prop] | length > 0 %}
        <details {% if open %}open{% endif %} class="comment {{ prop }}">
            {% set entries = wms[pageUrl][prop] %}
            <summary>
                {{ entries | length }}
                {% if entries | length != 1 %}{{ pluralName }}
                {% else %}{{ singularName }}
                {% endif %}
            </summary>

            <ul>
                {% for entry in entries %}
                    <li title="{{ entry.author.name }}">
                        <article>
                            <header>
                                <img src="{{ entry.author.photo }}" alt=""/>
                                <div class="name">{{ entry.author.name }}</div>
                                <time datetime="{{ entry.published | formatDateISO }}" class="name">{{ entry.published | formatDate }}</time>
                                <a href="{{ entry.url }}">Link pro original</a>
                            </header>

                            <p>{{ entry.content.html | safe }}</p>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </details>
    {% endif %}
{% endmacro %}