{% macro wmDescriptions(links) %}
  {% if links.length > 0 %}
      <span class="wm-properties">
          {% for link in links %}
              {% set wmTypes = link.types | wmTypeStrings %}

              {% for connective, types in wmTypes | groupby('connective') %}
                  <span class="wm-property">
                      {% for type in types %}
                          <span class="wm-property">{{ type.singular }}</span>
                      {% endfor %}
                      {{ connective }}
                  </span>
              {% endfor %}

              {% set typeClasses %}
              {% for type in link.types %} u-{{type}}
              {% endfor %}
              {% endset %}

              <a href="{{ link.link }}" class="{{ typeClasses }}">{{ link.title or title or link.link }}</a>
          {% endfor %}
      </span>
  {% endif %}
{% endmacro %}