---
layout: default
collection: all
mdEntryType: blogPost
mainClass: collection
sitemapChangefreq: daily
sitemapPriority: 1
pagination:
    data: collections.all
    alias: entries
    size: 5
---

{{ content | safe }}

<link rel="stylesheet" href="/css/collection.css"/>

<h1>{{ collectionName }}</h1>

<ol aria-label="{{ collectionName }}">
    {%- for entry in entries -%}
        <li>
            <article
                itemprop="{{ mdEntryType }}"
                itemscope=""
                itemref="mdata-author"
                itemtype="https://schema.org/BlogPosting"
            >
                <header>
                    <h2 itemprop="headline title" class="post-title">
                        <a href="{{entry.url}}">{{ entry.data.title }}</a>
                    </h2>
                    <div class="metadata">
                        <span>{{ entry.data.tags }}</span>
                        <time
                            itemprop="datePublished dateModified pubdate"
                            class="dt-published"
                            datetime="{{ entry.data.date | formatDateISO }}"
                        >
                            {{ entry.data.date | formatDate }}
                        </time>
                        <span><span itemprop="wordCount">{{ entry.data.content | striptags | wordcount }}</span> palavras</span>
                    </div>
                    {# {% if entry.data.customTags %}
                        <ul itemprop="keywords" aria-label="Tags">
                            {% for tag in entry.data.customTags %}
                                <li>
                                    <a rel="tag" href="/tags/{{ tag | slug }}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %} #}
                </header>
            </article>
        </li>
    {%- endfor -%}
</ol>

<nav class="pagination" aria-label="Paginação de {{collectionName}}">
    {% if pagination.pageNumber != 0 %}
        <a class="prev" href="{{ pagination.previousPageHref }}">
            ‹ Itens anteriores
        </a>
    {% endif %}
    {% if pagination.pageNumber != pagination.hrefs.length - 1 %}
        <a class="next" href="{{ pagination.nextPageHref }}">
            Próximos itens ›
        </a>
    {% endif %}
</nav>