---
layout: default.njk
collection: all
mdEntryType: blogPost
mainClass: collection
htmlClass: h-feed
sitemapChangefreq: daily
sitemapPriority: 1
pagination:
    data: collections.all
    alias: entries
    size: 10
---

{% extends 'templates/collection.njk' %}