---
---

<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/layout.css"/>
        <link rel="stylesheet" href="/css/utility.css"/>
        <title>
            {% if title %}{{title}} – {% endif %}Victor Magalhães
        </title>

        <link rel="manifest" href="/manifest.webmanifest"/>
        <meta name="theme-color" content="rgb(92, 194, 101)"/>

        <link rel="webmention" href="https://webmention.io/victormagalhaes.codes/webmention"/>
        <link rel="pingback" href="https://webmention.io/victormagalhaes.codes/xmlrpc"/>
        <link rel="canonical" href="https://victormagalhaes.codes"/>

        {# <meta name="description" content="desenvolvedor, entusiasta da web, decentralização e privacidade"/>
        <meta name="keywords" content="javascript, typescript, development, web development, web, privacy, decentralized web, decentralization, p2p, personal, blog, brazilian"/> #}
        <meta name="google-site-verification" content="RHQh7j4JKTIEmRsQrcOD1Pk7OoLoW8VK9YG4LscV7d0"/>

        <link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png"/>
        <link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png"/>
        <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png"/>
        <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png"/>

        <link rel="sitemap" type="application/xml" href="/sitemap.xml"/>
        {# <link rel="alternate" type="application/rss+xml" href="/rss.xml"/>
        <link rel="alternate" type="application/rss+xml" href="/rss.posts.xml"/> #}
        <link rel="shortcut icon" href="/icons/icon-48x48.png"/>
    </head>
    <body
        itemscope=""
        itemtype="https://schema.org/Blog"
        id="mdata-blog"
        itemid="mdata-blog"
        data-theme="auto"
    >
        {% include 'sidebar.njk' %}
        <main class="{{ mainClass }}">{{ content | safe }}</main>
    </body>
</html>