---
title: Victor Magalhães
---

<!doctype html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/layout.css"/>
        <link rel="stylesheet" href="/css/utility.css"/>
        <title>{{ title }}</title>
    </head>
    <body
        itemscope=""
        itemtype="https://schema.org/Blog"
        id="mdata-blog"
        itemid="mdata-blog"
        data-theme="auto"
    >
                {% include 'sidebar.njk' %}
                <main class="{{ mainClass }}">{{ content | safe }}</main>
    </body>
</html>