---
layout: default.liquid
mainClass: entry
htmlClass: h-entry
ogtype: article
---

{% extends 'templates/entry.njk' %}
{% from 'macros/wm-description.njk' import wmDescriptions %}

{% if links != null and links | length > 0 %}
    {% block metadata %}
        {{ wmDescriptions(links) }}
    {% endblock %}
{% endif %}