---
layout: default.njk
mainClass: entry
htmlClass: h-entry
ogtype: article
---

{% extends 'templates/entry.njk' %}
{% from 'macros/wm-description.njk' import wmDescriptions %}

{% if links != null and links | length > 0 %}
    {% block metadata %}
        {{ wmDescriptions(links) }}
    {% endblock %}
{% endif %}

{% if draft %}
{% block body_start %}
<script>
(function(){window.hypothesisConfig=function(){return{showHighlights:true,appType:'bookmarklet'};};var d=document,s=d.createElement('script');s.setAttribute('src','https://hypothes.is/embed.js');d.body.appendChild(s)})();
</script>
{% endblock %}
{% endif %}
