---
layout: entry
mainClass: "entry post"
---

<aside>
  <nav aria-label="Índice">
    {{ content | toc | safe }}
  </nav>
</aside>

{{ content | safe }}

<hr/>

Esse artigo foi postado originalmente <a href="{{me.url}}{{page.url}}">no blog de Victor Magalhães</a>.
