---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: src/photos
  label: Photos
  create: all
  match: "**/*"
- type: directory
  path: src/notes
  label: Notes
  create: all
  match: "**/*"
- type: directory
  path: src/bookmarks
  label: Bookmarks
  create: all
  match: "**/*"
- type: directory
  path: src/posts
  label: Posts
  create: all
  match: "**/*"
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":year:-:month:-:day:-:filename:"
build:
  preview_env:
  - SKIP_WEBMENTIONIO=true
  preview_output_directory: public
  install_dependencies_command: yarn install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: yarn dev
