.entrySection {
	max-width: var(--max-width-desktop);

	@media (max-width: 800px) {
		max-width: var(--max-width-mobile);
	}

	nav > ul {
		margin: 0;
	}
}

.section {
	display: flex;
	flex-wrap: wrap;

	@supports (display: grid) {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(45ch, max-content));
	}
}
