<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{ partial "header.html" . }}
    </head>
    <body>
        <div id="layout">
            <div class="sidebar">
                {{ partial "sidebar.html" . }}
            </div>
            <div class="content">
                <div class="singlepage">
                    <div class="article" id="{{ .Slug }}" class="{{ .Type }}">
                        <div class="post-stamp">
                            <h1 class="post-title">{{ .Title }}</h1>
                        </div>
                        {{ .Content }}
                        {{ if .Site.Params.share }}
                            {{ if eq .Site.Params.share "all" }}
                                {{ partial "share.html" . }}
                            {{ end }}
                        {{ end }}
                        {{ partial "comments.html" . }}
                    </div>
                </div>
                {{ partial "footer.html" . }}
            </div>
        </div>
    </body>
</html>
