/* competences */

.resume .competences {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
  display: grid;
  grid-gap: 10px;
  justify-content: flex-start;
  /* grid-row: repeat(auto-fill, max-content); */
  grid-template-columns: repeat(auto-fill, 25ch);
}

.resume .competences dt {
  margin: 0 0 0.5em;
  font-weight: 700;
}

.resume .competences dd {
  margin: 0;
}

/* skills */

.resume .skills {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  .resume .skill ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(var(--spread), 1fr);
  }

  .resume .skill li {
    margin-left: 1.5ch;
  }
}

.resume .skill-1 {
  --spread: 1;
}
.resume .skill-2 {
  --spread: 2;
}
.resume .skill-3 {
  --spread: 3;
}

/* experiences */

.resume .experiences {
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    grid-gap: 2em;
}

.resume .experience {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 150px auto;
}

.resume .experience .title,
.resume .experience .info {
    grid-column: 2;
}

.resume .experience .description {
    grid-column: 1/3;
}

.resume .experience .title {
  margin: 0;
}

.resume .experience > img {
  grid-row: 1/3;
  grid-column: 1;
  margin-top: 0.2em;
}
