---
interface Props {
	href: string;
	isExact?: boolean;
	isDirectory?: boolean;
}

const { href, isExact = false, isDirectory = false } = Astro.props;
const isCurrent = href === Astro.url.pathname || href === Astro.url.pathname + "/";
const shouldBeHighlighted = isExact ? Astro.url.pathname.startsWith(href) : isCurrent;
const shouldHaveRelDir = isDirectory && Astro.url.pathname.startsWith(href) && !isCurrent;
---

<a
	class={shouldBeHighlighted ? "current" : undefined}
	aria-current={isCurrent ? "page" : undefined}
	rel={shouldHaveRelDir ? "directory" : undefined}
	href={href}
>
	<slot />
</a>
