---
permalink: css/theme.css
---

:root {
	--dark-text-color: {{theme.dark.textColor}};
	--dark-background-color: {{theme.dark.backgroundColor}};
	--dark-theme-color: {{theme.dark.themeColor}};
	--dark-muted-theme-color: {{theme.dark.mutedThemeColor}};

	--light-text-color: {{theme.light.textColor}};
	--light-background-color: {{theme.light.backgroundColor}};
	--light-theme-color: {{theme.light.themeColor}};
	--light-muted-theme-color: {{theme.light.mutedThemeColor}};
}
