.headLink {
	h1 {
		margin-top: 0;
	}
}

.nav {
	ul {
		list-style: none;
		margin: -2pt -4pt;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		& ul {
			padding-left: 1em;
		}

		@media print, (max-width: 800px) {
			flex-direction: row;

			li,
			ul {
				display: contents;
			}

			a {
				margin: 2pt 4pt;
			}
		}

		li {
			margin: 2pt 4pt;

			a:global(.active) {
				font-weight: bold;
			}
		}
	}
}

.sidebar {
	flex: 0 0 var(--sidebar-width);
	padding: var(--root-padding);

	hr {
		margin: 1em 0;
	}

	img[aria-hidden] {
		max-width: unset;
	}

	p,
	.description,
	.section,
	.nav {
		margin: 1.2em 0;

		&:first-child {
			margin-top: 0;
		}
	}

	> h1 {
		margin-top: 0;
		text-transform: lowercase;
	}

	@media screen and (min-width: 800px) {
		max-height: calc(100vh - 2 * var(--root-border-width));
		position: sticky;
		top: var(--root-border-width);
	}

	@media print, (max-width: 800px) {
		font-size: 0.9em;
		flex-basis: auto;
	}
}

.socialLinkItem {
	margin: 2pt;
}

.socialLinkList {
	display: grid;
	grid-template-columns: repeat(auto-fill, 1.75em);
	grid-auto-flow: row dense;
	grid-gap: 4pt;
	list-style-type: none;
	margin: 0;
}

.themeSelector {
	display: flex;
	justify-content: space-between;

	button {
		--box-shadow-height: 0;

		cursor: pointer;
		color: var(--themeColor);
		border: 1px solid var(--themeColor);
		background-color: transparent;
		transition: box-shadow 0.5s ease, color 0.5s ease;
		box-shadow: inset 0 var(--box-shadow-height) 0 var(--themeColor);

		&:global(.selected),
		&:hover {
			--box-shadow-height: 2em;
			color: var(--backgroundColor);
		}

		&[disabled] {
			cursor: not-allowed;
		}
	}

	.themeButtons {
		margin: -0.25em;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		> * {
			margin: 0.25em;
		}

		@supports (display: grid) {
			@media (min-width: 800px) {
				display: grid;
				grid-gap: 0.5em;
				grid-template-columns: max-content;

				margin: 0;

				> * {
					margin: unset;
				}
			}
		}
	}
}

.email {
	display: block;
	margin-bottom: 2pt;
}
