<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:title" content="{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ if .IsPage }}
    <meta property="og:type" content="article" />
    <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
    {{ range .Params.tags }}<meta property="og:article:tag" content="{{ . }}" />
    {{ end }}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Description }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
{{ else }}
    <meta property="og:type" content="website" />
{{ end }}

<title>{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>

{{ if .Description }}
    <meta name="description" content="{{ .Description }}" />
{{ else }}
    <meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}

<meta name="p:domain_verify" content="fc173d84e3a4de948ed4bda2908afd3e"/>
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- CSS -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ "/css/pure-min.css" | absURL }}">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ "/css/grids-responsive-old-ie-min.css" | absURL}}">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ "/css/grids-responsive-min.css" | absURL }}">
<!--<![endif]-->
<link rel="stylesheet" href="{{ "/css/crisp.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/custom.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/rrssb.css" | absURL }}">
{{ if isset .Site.Params "highlight" }}<link rel="stylesheet" href="{{ "/css/highlight/" | absURL }}{{ .Site.Params.highlight }}.css">{{ end }}
{{ with .Site.Params.customCSS }}<link rel="stylesheet" href="{{ . }}">{{ end }}

<!-- RSS -->
{{ $siteTitle := .Site.Title }}
{{ $authorName := .Site.Author.name }}
{{ with .RSSLink }}<link href="{{ . }}" rel="alternate" type="application/rss+xml" title="{{ $siteTitle }}" />{{ end }}

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="author" href="{{ .Site.BaseURL }}" />

<link rel="pingback" href="https://webmention.io/vhfmag.gitlab.io/xmlrpc" />
<link rel="webmention" href="https://webmention.io/vhfmag.gitlab.io/webmention" />

{{ if .IsHome }}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        {{ with .Site.Author.email }}"email": "mailto:{{ . }}",{{ end }}
        {{ with .Site.Params.gravatarHash }}"image": "https://www.gravatar.com/avatar/{{ . }}?s=200",{{ end }}
        {{ with .Site.Author.jobtitle }}"jobTitle": "{{ . }}",{{ end }}
        {{ with .Site.Author.name }}"name": "{{ . }}",{{ end }}
        {{ with .Site.Author.birthplace }}"birthPlace": "{{ . }}",{{ end }}
        {{ with .Site.Author.birthdate }}"birthDate": "{{ . }}",{{ end }}
        {{ with .Site.Author.gender }}"gender": "{{ . }}",{{ end }}
        {{ with .Site.Author.nationality }}"nationality": "{{ . }}",{{ end }}
        "url": "{{ .Site.BaseURL }}",
        {{ with .Site.Author.address }}
        "address": {
            "@type": "PostalAddress",
            {{ with .city }}"addressLocality": "{{ . }}",{{ end }}
            {{ with .province }}"addressRegion": "{{ . }}",{{ end }}
            {{ with .country }}"addressCountry": "{{ . }}",{{ end }}
        },
        {{ end }}
        {{ with .Site.Author.organization }}
        "worksFor": {
            "@type": "LocalBusiness",
            {{ with .name }}"name": "{{ . }}",{{ end }}
            {{ with .url }}"url": "{{ . }}",{{ end }}
            {{ with .logo }}"logo": "{{ . }}",{{ end }}
            {{ with .description }}"description": "{{ . }}",{{ end }}
            {{ with .address }}
            "address": {
                "@type": "PostalAddress",
                {{ with .street }}"streetAddress": "{{ . }}",{{ end }}
                {{ with .city }}"addressLocality": "{{ . }}",{{ end }}
                {{ with .province }}"addressRegion": "{{ . }}",{{ end }}
                {{ with .postalcode }}"postalCode": "{{ . }}",{{ end }}
                {{ with .country }}"addressCountry": "{{ . }}"{{ end }}
            },
            "geo": {
                "@type": "GeoCoordinates",
                {{ with .latitude }}"latitude": "{{ . }}",{{ end }}
                {{ with .longitude }}"longitude": "{{ . }}"{{ end }}
            },
            {{ with .map }}"hasMap": "{{ . }}",{{ end }}
            {{ end }}
            {{ with .phone }}
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "{{ . }}"
            }
            {{ end }}
        },
        {{ end }}
        "sameAs": [
            {{ with .Site.Params.facebook }}"{{ . }}",{{end}}
            {{ with .Site.Params.twitter }}"{{ . }}",{{ end }}
            {{ with .Site.Params.linkedin }}"{{ . }}",{{ end }}
            {{ with .Site.Params.gitlab }}"{{ . }}",{{end}}
            {{ with .Site.Params.pocket }}"{{ . }}",{{end}}
            {{ with .Site.Params.github }}"{{ . }}",{{end}}
            {{ with .Site.Params.instagram }}"{{ . }}",{{end}}
            {{ with .Site.Params.googleplus }}"{{ . }}",{{ end }}
            {{ with .Site.Params.bitbucket }}"{{ . }}",{{ end }}
            {{ with .Site.Params.stackOverflow }}"{{ . }}",{{ end }}
            {{ with .Site.Params.keybase }}"{{ . }}",{{ end }}
        ]
    }
    </script>
{{ else if (and .IsPage (eq .Page.Type "post")) }}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "headline": "{{ .Page.Title }}",
        {{ with .Page.Description }}"description": "{{ . }}",{{ end }}
        {{ with .Page.Params.image }}"image": "{{ . }}",{{ end }}
        {{ with (default .Site.Author.name .Page.Params.author.name) }}"author": "{{ . }}",{{ end }}
        "wordcount": "{{ .Page.WordCount }}",
        "url": "{{ .Page.Permalink }}",
        "datePublished": "{{ .Page.PublishDate.Format "2006-01-02" }}",
        "dateModified": "{{ .Page.Lastmod.Format "2006-01-02" }}",
        "articleBody": "{{ .Page.Plain }}"
    }
</script>
{{ end }}