---
layout: default
sitemapChangefreq: weekly
sitemapPriority: 1
mainClass: home
---

section.main
    h1 Home

    p Olá! 👋🏾 Sou Victor Magalhães, desenvolvedor de Salvador, Brasil e tenho 3 anos de experiência trabalhando com desenvolvimento front- e back-end.

    p Atualmente, trabalho na <a href="https://jusbrasil.com.br">Jusbrasil</a> como engenheiro de software, com uma <i lang="en">stack</i> que inclui Javascript, Typescript, React, Node, Scala, Python e outros. Também já trabalhei na <a href="https://cubos.io/">Cubos</a>.

section.half
    h2 Do que eu gosto
    ul.inline-list
        li CSS
        li HTML semântico
        li Javascript
        li decentralização (Dat, IPFS, SSB, etc)
        li IndieWeb
        li de uma web diversa e aberta
        li programação funcional
        li sistemas de tipo
        li humanas
        li ecoturismo
        li veganismo (quem sabe um dia)
        li direitos de minorias
        li reparação histórica

section.half
    h2 Como esse site foi feito
    p Esse site foi feito usando <a href="https://www.11ty.io/">Eleventy</a>, Nunjucks, Markdown, Pug e tecnologias web. #[a(href="https://gitlab.com/vhfmag/vhfmag.gitlab.io/") Veja o código]!

section.half
    h2 Últimos posts
    ol.post-list
        - for (const entry of collections.posts.slice(0, 5))
            li
                h3: a(href=entry.url)= entry.data.title

section.half
    h2 Últimas notas
    ol.post-list
        - for (const entry of collections.notes.slice(0, 5))
            li
                h3: a(href=entry.url)= entry.data.title

section.half
    h2 Blogroll
    ul.post-list
        - for (const link of blogroll.slice(0, 5))
            li
                h3: a(href=link.url)= link.name

section.half
    h2 No fone
    ul.inline-list
        - for (artist of listeningTo)
            li= artist

link(rel="stylesheet", href="/css/home.css")
