---js
{
    pagination: {
        data: "collections.all",
        size: 1,
        alias: "post",
        before: posts => posts.filter(post => !!post.data.title)
    },
    permalink: "/preview/{{ post.data.collectionSlug }}/{{ post.fileSlug  }}.svg",
    eleventyExcludeFromCollections: true,
}
---

{% set lines = post.data.title | splitlines15 %}

<svg width="1200px" height="630px" viewBox="0 0 190 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect
        width="190"
        height="100"
        fill="{{theme.light.backgroundColor}}"
        stroke="{{theme.light.themeColor}}"
        stroke-width="5"
    >
    </rect>

    <text font-size="5" x="5" y="10" fill="{{theme.light.textColor}}">
        {{ post.data.collection }} de {{ post.data.date | formatDate }}
    </text>

    <text fill="{{theme.light.themeColor}}" font-size="15">
        {% for line in lines %}
        <tspan x="4" y="{{ 24.5 + loop.index0 * 15 }}">{{ line }}</tspan>
        {% endfor %}
    </text>

    {% if post.data.description and lines | length <= 2 %}
    {% set y_base = 24.5 + (lines | length) * 15 %}
    <text fill="{{theme.light.themeColor}}" font-size="8">
        {% for line in post.data.description | splitlines8 %}
        <tspan x="5" y="{{ y_base + loop.index0 * 8 }}">{{ line }}</tspan>
        {% endfor %}
    </text>
    {% endif %}

    <text font-size="5" x="125" y="92.5" fill="{{theme.light.textColor}}">
        victormagalhaes.codes
    </text>
</svg>