---
permalink: /sitemap.xml
sitemapIgnore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {%- for item in collections.all %}
        {%- if item.data.sitemapIgnore !== true %}
            <url>
                <loc>{{ site.canonicalUrl }}{{ item.url }}</loc>
                <lastmod>{{ item.date and item.date.toISOString() }}</lastmod>
                <changefreq>{{ item.data.sitemapChangefreq or "monthly" }}</changefreq>
                <priority>{{ item.data.sitemapPriority or "0.5" }}</priority>
            </url>
        {%- endif %}
    {%- endfor %}
</urlset>