---
import Entry, { type Props as EntryLayoutProps } from "./Entry.astro";

interface Props extends EntryLayoutProps {}

// TODO: TOC
// const { headings } = await Astro.props.entry.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!-- TODO: TOC --><!-- <aside>
    <nav aria-label="Índice">
        {{ content | toc | safe }}
    </nav>
</aside> -->
<Entry {...Astro.props} />

<hr />

<p>Esse artigo foi postado originalmente <a href={canonicalURL}>no blog de Victor Magalhães</a>.</p>
