---
import TableOfContents from "../components/TableOfContents/TableOfContents.astro";
import Entry, { type Props as EntryLayoutProps } from "./Entry.astro";

interface Props extends EntryLayoutProps {}

const { headings } = await Astro.props.entry.render();

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<Entry {...Astro.props}>
	{
		headings.length > 0 && (
			<aside slot="body_start">
				<TableOfContents headings={headings} />
			</aside>
		)
	}
</Entry>

<hr />

<p>Esse artigo foi postado originalmente <a href={canonicalURL}>no blog de Victor Magalhães</a>.</p>
