<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
    {{ partial "header.html" . }}
</head>

{{ $bookmarks := where .Data.Pages.ByLastmod.Reverse "Type" "bookmark" }}

<body>
    <div id="layout">
        <div class="sidebar">
            {{ partial "sidebar.html" . }}
        </div>
        <div class="content">
            <div class="singlepage {{ .Type }}" id="{{ .Slug }}">
                <main class="bookmark-page">
                    <h2>{{ .CurrentSection.Title }}</h2>
                    {{ $paginator := .Paginate $bookmarks }}
                    <section class="bookmark-list">
                    {{ range $paginator.Pages }}
                        {{ partial "bookmark" . }}
                    {{ end }}
                    </section>
                    {{ partial "pagination.html" $paginator }}
                </main>

                {{ partial "footer.html" . }}
            </div>
        </div>
    </div>
</body>

</html>
