.experience {
	@extend .box;

	h2, h3, h4 {
		margin-bottom: 0px;
	}

	.logo_column {
		box-sizing: border-box;
		padding: 2rem 1rem;
		margin: -1.5rem 0 -1.5rem -1.5rem;
		// background-color: white;
		border-right: solid 1px _palette(border);

		.image {
			margin: auto;
		}
	}

	.content {
		margin-left: 1rem;
	}

	.flexrow {
		display: flex;
	}
}